﻿
@{
    ViewBag.Title = "BarcodePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="h-auto d-inline-block">



<div class="shadow m-2">

    @(Html.DevExtreme().DataGrid<WinFormClientSide.Models.BarcodeModel>().
           ID("BarcodeGrid").DataSource(d => d.WebApi().LoadAction("GetBarcodeTable").Controller("BarcodeTable")
           .Key("BarkodTemp_rowid"))
           .ColumnHidingEnabled(true)
           .ShowBorders(true))

</div>
</div>