﻿
@{
    ViewBag.Title = "DataTableView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DataTableView</h2>
<div class="h-auto d-inline-block">



    <div class="shadow m-2">

        @(Html.DevExtreme().DataGrid<WinFormClientSide.Models.DataTableModel>().
               ID("ID").DataSource(d => d.WebApi().LoadAction("GetTable").Controller("GetData")
               .Key("ID"))
               .ColumnHidingEnabled(true)
               .ShowBorders(true))

    </div>
</div>